extends ../../views/layout.pug

block content
  h1 Index of #{file.virtualPath}

  table(id='files')
    thead
      tr
        th
        th Name
        th Last Modified
        th Size
      tr
        td(colspan=4)
          hr
    tbody
      if file.virtualPathParent !== undefined
        +file('back', file.virtualPathParent, 'Parent Directory', '', '')
      each f in files
        +file(f.icon, f.virtualPath, f.name, f.modifiedDate, f.size)

mixin file(icon, virtualPath, name, modifiedDate, size)
  tr
    td(class=['icon',icon])
    td
      a(href=virtualPath) #{name}
    td=modifiedDate
    td=size
